body{
    font-family: 'Poppins', sans-serif;
}
.font-light{
    font-weight: 300;
}
.font-title{
 font-weight: 400;
 font-size: 1,3em;
}

th{
    font-weight: 400;
}


.header{
    padding-bottom: 5em;
}

.marca{
    height: 300px;
}

.phone{
    height: 500px;
}

#mensagem{
    resize: none;
    height: 9em;
}

.official-photo {
    width:50px;
}

.funcionario{
    font-weight: 300;
}

.esqueceu-senha{
    font-size: smaller;
}
.footer-size{
    padding: 5%;
    background-color: blueviolet;
}

.elemento-oculto{
    display: none;
}

.elemento-visivel{
    display: block;
}